
body {
    font-family: "Maven Pro", sans-serif;
    background-color: #0c0c0d;
    color: white;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.profileInfo .h, .tokenG .h {
    font-size: 30px;
}

.profileA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    margin-top: 50px;
}

.icon:hover {
    color: #ffc200;
}

.icon {
    font-size: 200px;
    transition: 0.4s;
    position: relative;
}

.input {
    display: flex;
    flex-direction: column;
}

.input input {
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: #ffc200;
    font-size: 20px;
    background-color: transparent;
    color: white;
    padding: 15px 20px;
    width: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input input:focus {
    background-color: transparent;
}

.input input:-webkit-autofill {
    transition: background-color 5000000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
    -webkit-font-size: 20px;
}

.profileButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    gap: 100px;
}

.profileButtons button, .tokenGC button {
    font-family: monospace;
    padding: 10px 40px;
    border: none;
    background-color: #2c49db;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.profileButtons button:hover, .tokenGC button:hover {
    background-color: #3d55d1;
}

.tools {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 50px;
}

.explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 430px;
    overflow-y: scroll;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
}

.cmdC {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 7;
}

.tokenG {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.tokenGC {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}

.tokenGC select {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-width: 0 0 2px 0;
    border-color: #ffc200;
    padding: 10px 20px;
    cursor: pointer;
}

.tokenGC select option {
    color: black;
}

.tokenGC select:focus {
    outline: none;
}

.footer {
    margin-top: 200px;
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}