.navbar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.navbarNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbarNav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.navbarNav ul li {
    position: relative;

    cursor: pointer;

    transition: all 0.4s ease;

    overflow: hidden;
}

.navbarNav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.4s ease;
}

.navbarNav ul li:hover > div a {
    color: #ffc200;
}

.navbarNav ul li:hover > div:first-child {
    transform: translateY(-120%);
}

.navbarNav ul li:hover > div:last-child {
    transform: translateY(0%);
}

.navbarNav ul li div:first-child {
    padding: 5px 10px;
    text-align: center;

    transition: transform 0.3s;
}

.navbarNav ul li div:last-child {
    position: absolute;
    top: 0;
    padding: 5px 10px;

    transform: translateY(120%);

    transition: transform 0.3s;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    height: 70px;
    cursor: pointer;

    line-height: inherit;
    white-space: nowrap;
    font-weight: bold;

    transition: all 0.4s ease;
}

.logo:hover {
    color: #ffc200;
}

.logo div {
    margin-top: 15px;
}

.logo i {
    font-size: 2.25rem;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: bold;

    transition: all 0.4s ease;
}

.user:hover {
    color: #ffc200;
}

.user i {
    font-size: 2.25rem;
}

.user div {
    margin-top: 15px;
}