.loginbackground {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    /* overflow: hidden; */
}

.flex-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.box-root {
    box-sizing: border-box;
}

.flex-direction--column {
    flex-direction: column;
}

.loginbackground-gridContainer {
    display: grid;
    grid-template-columns: [start] 1fr [left-gutter] repeat(16, 86.6px) [left-gutter] 1fr [end];
    grid-template-rows: [top] 1fr [top-gutter] repeat(8, 64px) [bottom-gutter] 1fr [bottom];
    justify-content: center;
    margin: 0 -2%;
    transform: rotate(-12deg) skew(-12deg);
}

.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}

.box-background--blue {
    /* background-color: #5469d4; */

    background-color: #ffc200;
}

.box-background--white {
    /* background-color: #ffffff; */

    background-color: #0c0c0d;
}

.box-background--blue800 {
    /* background-color: #212d63; */

    background-color: #bc9001;
}

.box-background--gray100 {
    background-color: #e3e8ee;

    /* background-color: #18181a; */
}

.box-background--cyan200 {
    /* background-color: #7fd3ed; */

    background-color: #bb9a2c;
}

.padding-top--64 {
    padding-top: 64px;
}

.padding-top--24 {
    padding-top: 24px;
}

.padding-top--48 {
    padding-top: 48px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.padding-horizontal--48 {
    padding: 48px;
}

.padding-bottom--15 {
    padding-bottom: 15px;
}

.flex-justifyContent--center {
    justify-content: center;
}

.animationRightLeft {
    transform: translateX(-900px);
}

.animationLeftRight {
    transform: translateX(100px);
}

.tans3s {
    transform: translateX(800px);
}

.tans4s {
    transform: translateX(0px);
}

.transition {
    transition: background-color 0.5s;
}